.d-flex.align-items-center.p-3.my-3.text-white.bg-purple.rounded.shadow-sm
  %img.me-3{:alt => "", :height => "38", :src => "/docs/5.1/assets/brand/bootstrap-logo-white.svg", :width => "48"}/
  .lh-1
    %h1.h6.mb-0.text-white.lh-1 Bootstrap
    %small Since 2011
.my-3.p-3.bg-body.rounded.shadow-sm
  %h6.border-bottom.pb-2.mb-0 Recent updates
  .d-flex.text-muted.pt-3
    %svg.bd-placeholder-img.flex-shrink-0.me-2.rounded{"aria-label" => "Placeholder: 32x32", :focusable => "false", :height => "32", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "32", :xmlns => "http://www.w3.org/2000/svg"}
      %title Placeholder
      %rect{:fill => "#007bff", :height => "100%", :width => "100%"}
      %text{:dy => ".3em", :fill => "#007bff", :x => "50%", :y => "50%"} 32x32
    %p.pb-3.mb-0.small.lh-sm.border-bottom
      %strong.d-block.text-gray-dark @username
      Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
  .d-flex.text-muted.pt-3
    %svg.bd-placeholder-img.flex-shrink-0.me-2.rounded{"aria-label" => "Placeholder: 32x32", :focusable => "false", :height => "32", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "32", :xmlns => "http://www.w3.org/2000/svg"}
      %title Placeholder
      %rect{:fill => "#e83e8c", :height => "100%", :width => "100%"}
      %text{:dy => ".3em", :fill => "#e83e8c", :x => "50%", :y => "50%"} 32x32
    %p.pb-3.mb-0.small.lh-sm.border-bottom
      %strong.d-block.text-gray-dark @username
      Some more representative placeholder content, related to this other user. Another status update, perhaps.
  .d-flex.text-muted.pt-3
    %svg.bd-placeholder-img.flex-shrink-0.me-2.rounded{"aria-label" => "Placeholder: 32x32", :focusable => "false", :height => "32", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "32", :xmlns => "http://www.w3.org/2000/svg"}
      %title Placeholder
      %rect{:fill => "#6f42c1", :height => "100%", :width => "100%"}
      %text{:dy => ".3em", :fill => "#6f42c1", :x => "50%", :y => "50%"} 32x32
    %p.pb-3.mb-0.small.lh-sm.border-bottom
      %strong.d-block.text-gray-dark @username
      This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
  %small.d-block.text-end.mt-3
    %a{:href => "#"} All updates
.my-3.p-3.bg-body.rounded.shadow-sm
  %h6.border-bottom.pb-2.mb-0 Suggestions
  .d-flex.text-muted.pt-3
    %svg.bd-placeholder-img.flex-shrink-0.me-2.rounded{"aria-label" => "Placeholder: 32x32", :focusable => "false", :height => "32", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "32", :xmlns => "http://www.w3.org/2000/svg"}
      %title Placeholder
      %rect{:fill => "#007bff", :height => "100%", :width => "100%"}
      %text{:dy => ".3em", :fill => "#007bff", :x => "50%", :y => "50%"} 32x32
    .pb-3.mb-0.small.lh-sm.border-bottom.w-100
      .d-flex.justify-content-between
        %strong.text-gray-dark Full Name
        %a{:href => "#"} Follow
      %span.d-block @username
  .d-flex.text-muted.pt-3
    %svg.bd-placeholder-img.flex-shrink-0.me-2.rounded{"aria-label" => "Placeholder: 32x32", :focusable => "false", :height => "32", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "32", :xmlns => "http://www.w3.org/2000/svg"}
      %title Placeholder
      %rect{:fill => "#007bff", :height => "100%", :width => "100%"}
      %text{:dy => ".3em", :fill => "#007bff", :x => "50%", :y => "50%"} 32x32
    .pb-3.mb-0.small.lh-sm.border-bottom.w-100
      .d-flex.justify-content-between
        %strong.text-gray-dark Full Name
        %a{:href => "#"} Follow
      %span.d-block @username
  .d-flex.text-muted.pt-3
    %svg.bd-placeholder-img.flex-shrink-0.me-2.rounded{"aria-label" => "Placeholder: 32x32", :focusable => "false", :height => "32", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "32", :xmlns => "http://www.w3.org/2000/svg"}
      %title Placeholder
      %rect{:fill => "#007bff", :height => "100%", :width => "100%"}
      %text{:dy => ".3em", :fill => "#007bff", :x => "50%", :y => "50%"} 32x32
    .pb-3.mb-0.small.lh-sm.border-bottom.w-100
      .d-flex.justify-content-between
        %strong.text-gray-dark Full Name
        %a{:href => "#"} Follow
      %span.d-block @username
  %small.d-block.text-end.mt-3
    %a{:href => "#"} All suggestions